/*
	to add comment = Ctrl + Shift + /
	
	CSS is used for styling our web page. It has its own syntax or way of coding writing from HTML.
	
	Syntax:

	*{
		property:value;
	}

*/

/* "*" is universal -- all elements*/
* {
	font-family: "Roboto", sans-serif;
}

/* type - select particulat tags */

h1,h2 {
	font-family: "Monsterat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
}

#landing {
	/* vh- viewport height - measurement based on the hieght of the webpage and device you currently are viewing the page in */
	height: 80vh; /*80% viewport height */
	/* We can manipulate the contents of an element using flexbox*/
	/* by default, arranges the contant in a single row*/
	display:flex;
	/* arrange the contents of an element with flex, as a column*/
	flex-direction:column;
	/* center all contents of an element with flex, as a column*/
	align-items: center;
	/* center all contents of an element with flex, as a column*/
	justify-content: center;

}

#gallery{
	height:75vh;
	/* center the contents of #gallery section horizontally and vertically using flex*/
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
}

h2{
	/* hex decimal can be added as a value for color. This allows us to specify a particular color*/
	color:#AED6F1 ;
}

/* class selector - use dot (.) ex.- .className*/
.tools {
	border: 5px solid #f2f2f2;
	padding: 25px;
	margin: 20px;
	height: 200px;
	/* the width of this element is at least 75% of its parent element or the element that contains it*/
	width: 75% /* 75% of the section gallery */
}

html{
	scroll-behavior: smooth;
}